<img class="img-fluid"
    src="https://sites.google.com/site/funnycatmeawww/_/rsrc/1422326075261/home/6997052-funny-cat.jpg"
    alt="">
<mat-nav-list>
    
    <mat-divider></mat-divider>
    <h3 matSubheader>Dashboard</h3>
    <a mat-list-item href=""> 
        <span mat-line>Summary</span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/386/386895.svg" alt="">
    </a>
    <a mat-list-item href=""> 
        <span mat-line>Customer</span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/505/505430.svg" alt="">
    </a>
    <mat-divider></mat-divider>
    <h3 matSubheader>Product</h3>
    <a mat-list-item href="/stock"> 
        <span mat-line>Stock</span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/1198/1198345.svg" alt="">
    </a>
    <a mat-list-item href=""> 
        <span mat-line>Shop</span>
        <img matListAvatar src="https://image.flaticon.com/icons/svg/599/599299.svg" alt="">
    </a>
</mat-nav-list>